@import "styles/variables";

.content {
  margin: 5rem 3rem 1rem 3rem;
  min-height: 50rem;
}

.main-header {
  position: fixed;
  width: 100%;
  background: $background-color !important;
  box-shadow: 0 0 .5rem 0.1rem rgba(0, 0, 0, .15);
  border-bottom: .05rem solid $normal-color;
  font-size: 2rem;
  font-weight: 700;
  z-index: 10;

  .button-remove {
    margin-right: .5rem !important;
  }
}

.footer {
  text-align: center;
  font-size: 1.2rem;
}
