@import "styles/variables";

.content {
  margin: 2rem 3rem;
  min-height: 50rem;
}

.main-header {
  background: $background-color !important;
  border-bottom: .05rem solid $normal-color;
  font-size: 2rem;
  font-weight: 700;
}

.footer {
  text-align: center;
  font-size: 1.2rem;
}
